{
  "presets": [
    [
      "@babel/preset-env", {
        "modules": "cjs",
        "targets": {
          "node": "6"
        }
      }
    ]
  ],

  "plugins": [
    "add-module-exports"
  ],

  "env": {
    "rollup": {
      "presets": [
        [
          "@babel/preset-env", {
            "modules": "false",
            "targets": {
              "node": "6"
            }
          }
        ]
      ]
    }
  }
}
