{
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "max-len": [2, 150, 2],

    "import/prefer-default-export": "off",

    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": [
        "scripts/**/*.js",
        "test/**/*.js",
        "gulpfile.js"
      ]
    }],

    "operator-linebreak": "off",
    "consistent-return": "off",
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "quote-props": ["error", "consistent-as-needed"],
    "no-use-before-define": ["error", {
      "functions": false,
      "classes": true,
      "variables": true,
      "allowNamedExports": true
    }],

    "no-console": [0],

    "valid-jsdoc": [2, {
      "requireReturn": true,
      "requireParamDescription": true,
      "requireReturnDescription": true,
      "prefer": {
        "return": "return",
        "arg": "param",
        "argument": "param"
      },
      "preferType": {
        "object": "object"
      }
    }]
  },
  "overrides": [
    {
      "files": [
        "**/*.ts"
      ],
      "env": {
        "browser": true,
        "es6": true,
        "node": false
      },
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "parser": "@typescript-eslint/parser",
      "plugins": [
        "@typescript-eslint"
      ],
      "rules": {
        "indent": ["error", 2],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
        "comma-dangle": ["error", "always-multiline"],
        "@typescript-eslint/no-explicit-any": 0
      }
    }
  ]
}
